~$*

code/PowerManage/MDK-ARM/out/PowerManage/PowerManage/.cache/*
code/PowerManage/MDK-ARM/tmp/*
电路/主控器/DispKey/DispKey-backups/*
电路/主控器/PM_Controller/PM_Controller-backups/*
电路/电机驱动/MotroDrive/MotroDrive-backups/*
/过时
