~$*

code/PowerManage/MDK-ARM/out/PowerManage/PowerManage/.cache/*
code/PowerManage/MDK-ARM/tmp/*
电路/主控器/DispKey/DispKey-backups/*
电路/主控器/PM_Controller/PM_Controller-backups/*
电路/电机驱动/MotroDrive/MotroDrive-backups/*
/过时
code/MainController2/MDK-ARM/out/*
code/MainController2/MDK-ARM/tmp/*
code/MainController2/MDK-ARM/*.log
code/MainController2/MDK-ARM/.vscode/keil-assistant.log
code/MainController2/MDK-ARM/.vscode/c_cpp_properties.json
code/MainController2/MDK-ARM/.clangd
code/MainController2/MDK-ARM/MainController2.cbuild-idx.yml
code/MainController2/MDK-ARM/RTE/_MainController2/RTE_Components.h
.claude/*
GuiGuider/*
.gitignore
SquareLineProj/*
